<!-- <p>chats-list works!</p> -->
<div class="chat-list">
  <form [formGroup]="chatForm" formDir="ngForm">
    <div class="chat-row">
      <input type="text" name="" id="nombre" formControlName="nombre" />
      <input type="text" name="" id="documento" formControlName="documento" />
      <input type="text" name="" id="email" formControlName="email" />
      <button (click)="onclickEvent()">Ver</button>
    </div>
  </form>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
  <div class="chat-row">
    <input type="text" name="" id="" />
    <button>Ver</button>
  </div>
</div>
