.message-containier {
  margin: 2px;
  min-width: 100px;
  max-width: 500px;
  text-align: right;
  background-color: #a2d9ce;
  animation-name: aparecer;
  animation-duration: 2s;
  border-radius: 5px;
  padding: 2px;
}

@keyframes aparecer {
  from {
    background-color: white;
  }
  to {
    background-color: #a2d9ce;
  }
}

h5 {
  margin: 0px;
}
